#login-form{
    display: none;
}
.form-box{
    width: 300px;
    height: 500px;
    position: relative;
    margin:2% auto;
    background:rgba(255, 255, 255, 0.3)
    padding : 10px;
    overflow: hidden;  
}
.button-box{

}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
.btn{
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 90px;
    background: peru;
    border-radius: 30px;
}
.input-group-login{
    top: 100px;
    position: absolute;
    width: 100px;

}
.input-group-register{
    top: 120px;
    position: absolute;
    width: 200px;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid blue;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    display: block ;
    border: 0;
    outline: none;

}
.check-box{
    margin:30px 10px 34px 0;
}
span{
    bottom: 60px;
    position: absolute;
}
#login{
    left: 50px;
}
#login-input{
    color:white;
}
#register{
    left: 400px;
}
#register input{
    color: white;
}