
*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    /* align-items: center;
    justify-content: center;  */
    position: sticky;
    top: 0;
    cursor: pointer;
   
}
.nav-list{
    width: 50%;
    display: flex;
    align-items: center;
    
}

 .nav-list li{
    font-size: 20px;
   list-style: none;
    padding: 10px 20px;
 }

 .nav-list li a{
    text-decoration: none;
    color: white;  
 }
 .nav-list li a:hover{
     color: rgb(219, 163, 163);
 }

.rightnav{
    width: 70%;
}
.logo img{
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.background{
    background: rgba(0,0,0,0.7) url('https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cHJvZ3JhbW1pbmd8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80');
    background-size: cover;
    background-blend-mode: darken;
}
.firstsection{
    height: 100vh;
    
}
.mainbox{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 100%;
    margin: auto;
    height: 80%;
   
}
.rightnav{
    padding: 30px;
    text-align: right;
    width: 50%;  
}
.signin{
    font-size: 18px;
    padding: 7px;
    /* border-radius: 15px; */
    border: 2px #747474;
    color: white;
    background-color: #383838;
    margin: 5px;
    cursor: pointer;
    /* font-weight: bold; */

}
.signin:hover{
    color: rgb(0, 0, 0);
}
/* .login{
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    border: 2px #747474;
    color: white;
    background-color: #898989;

} */

.left{
    margin: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.right img{
    /* transform: rotate(-8deg); */
    box-shadow: 10px 10px 5px grey inset;
    width: 350px;
    height: 350px;
    border-radius: 10%;
    /* border:3px solid rgb(255, 255, 255); */
    display: block;
    /* margin: 30px; */
    
}
.bigtext{
    -webkit-text-stroke: 1px rgb(71, 71, 71);
    
    text-shadow:
    3px 3px 0 #000,
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
    color: cadetblue;
    font: small-caps bold 24px/1 sans-serif;
    font-size: 60px;
    /* font-weight: bold; */
    margin: 10px;
    padding: 10px;
    text-decoration: none;
}
.smalltext{
    color: #d6d6d6;
    font-size: 25px;
    margin: 10px;
}
.stext{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    color: #000000;
    font-size: 20px;
    margin: 30px;
    display: flex;
}
.contactus{
    /* background: rgba(0,0,0,0.7) url('https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cHJvZ3JhbW1pbmd8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80'); */
    background-size: cover;
    background-blend-mode: darken;
    height: 500px;
    /* background-color:black; */
    background-image: linear-gradient(rgb(193, 193, 193), rgb(206, 232, 253));
    /* background: rgb(177, 169, 169) url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaJjXzIxFG73RYvfNGiBnmgGMKbn21tG7D2Q&usqp=CAU"); */
}
.box{
    background: rgb(0, 0, 0) url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaJjXzIxFG73RYvfNGiBnmgGMKbn21tG7D2Q&usqp=CAU");
    width: 700px;
    height: 500px;
    margin: auto;
    /* border-radius: 20px; */
    background-color: #c7c7c7;
}
.text-center{
    text-align: center;
    padding-top: 20px;
}
.form{
 /* align-items: center; */
    margin: 25px auto;
    max-width: 600px;
}
.form-input{
    height: 30px;
    margin: 5px 0;
    padding: 5px;
    width: 100%;
    border: 2px solid black;
}

.btn{
    padding: 6px 10px;
    /* vertical-align: middle; */
    font-size: 15px;
    font-weight: 700;
    border-radius:4px;
} 
.last{
    font-size: 15px;
    padding: 10px 0;
    text-align: center;
    color: white;
}

.burger{
    display: none;
position: absolute;
cursor: pointer;
right: 5%;
top: 15px;
}
.line{
 width: 30px;
 background-color: white;
 height: 4px;
 margin:5px 3px;
}

@media only screen and (max-width:900px){
    .nav-list{
        flex-direction:column;
    }
    .navbar{
        flex-direction: column;
    }
    .rightnav{
        text-align: center;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height:70px;
    }
    .v-class-resp{
        opacity: 0;
    }
}

.title {
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    text-align: center;
    color: #2E3D49;
    font-weight: 500;
}

.cbox {
	position: relative;
	width: 100%;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
}
.cbox .det {
	width: 250px;
	height: 80px;
	margin: 10px;
	background: #fff;
	cursor: pointer;
}
.cbox .det a{
	justify-content: space-around;
	width: 250px;
	padding: 28px;
	border-radius: 10px;
	border: 3px solid #941305;
	font-size: 15px;
	color: #272529;
	font-family: cursive;
	text-decoration: none;
}
.cbox .det a:hover {
	background: linear-gradient(to right, #FA4B37, #DF2771);
	color: white;
}
.cbox .det a:hover img{
	filter: brightness(100);
}
.cbox img {
	width: 20px;
	margin-right: 20px;
}
.svg-image img {
    width: 500px;
    filter: drop-shadow(0 20px 10px rgba(0,0,0,0.2));
}

/* about */
.about-content {
	width: 100%;
	position: relative;
	justify-content: center;
	flex-wrap: wrap;
	display: flex;
	align-items: center;
}
.about-content .side-text {
	width: 550px;
	padding: 50px 40px;
	background: #fff;
	box-shadow: 2px 0 100px rgba(0,0,0,0.3);
	border-radius: 5px;
	text-align: justify;
	line-height: 22px;
	/* opacity: 0;
	transform: translateX(-100px);
	transition: 1s ease-in-out;
     */
}
.about-content .side-text-appear {
	opacity: 1;
	transform: translateX(0px);
}
.about-content .side-text h2 {
	padding: 10px;
}
.about-content .side-text p {
	padding: 10px;
}
.about-content .side-image img {
	width: 90%;
	border-radius: 5px;
}
.sideImage {
	/* transform: translateX(100px); */
	
	transition: .8s ease-in-out;
}
.sideImage-appear {
	opacity: 1;
	transform: translateX(0px);
}

/* common things in all section */

#about_section, #portfolio_section, #team_section, #services_section, #contactus_section {
	font-family: 'Open Sans', sans-serif;
	color: #2E3D49;
	position: relative;
}
.diffSection {
	width: 100%;
	/*position: relative;*/
	justify-content: center;
	align-items: center;
}
.diffSection .content {
	margin: 10px;
	text-align: center;
	padding: 10px 100px;
	font-size: 1.1em;
}

/*PORTFOLIO*/
.extra {
	width: 100%;
}
.extra p {
	padding: 30px;
	padding-bottom: 150px;
	font-size: 50px;
	text-align: center;
	color: #fff;
	background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7)),url("b1.jpg");
	background-size: cover;
	background-attachment: fixed;
	font-family: cursive;
	z-index: -9;
}
.smbox {
	display: flex;
	flex-wrap: wrap;
	transform: translateY(-100px);
	justify-content: center;
}
.smbox span {
	margin: 1%;
	background: #fff;
	box-shadow: inset 0px 0px 25px rgba(0,0,0,0.2),
						0 0 40px rgba(0,0,0,0.3);
	border-radius: 10px;
	padding: 30px 50px;
	cursor: pointer;
}
.smbox span:hover {
	transform: scale(1.3);
	transition: .5s ease;
}
.smbox .data {
	font-size: 80px;
	color: #fa6146;	
}
.smbox .det {
	font-size: 20px;
	color: #272529;
	font-family: cursive;
}
/*Service Section*/
.service-swipe {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7)),url("b3.jpg");
	background-size: cover;
	background-attachment: fixed;
}
.service-swipe .s-card img {
	width: 100px;
}
.service-swipe a {
	padding: 0;
	margin: 40px 10px;
}
.service-swipe .s-card {
	display: flex;
	justify-content: space-around;
	padding: 10px;
	align-items: center;
	text-align: center;
	width: 350px;
	height: 200px;
	box-shadow: inset 0 0 20px rgba(255,255,255,0.05),
					0 0 50px rgba(0,0,0,0.8);
	border-radius: 5px;
	cursor: pointer;
	transition-duration: .5s;
}
.service-swipe .s-card p {
	color: #f2f2f2;
	font-size: 1.2em;
	font-family: 'Open Sans',sans-serif;
}
.service-swipe .s-card:hover {
	box-shadow: 0 0 50px rgba(255,255,255,0.8);
	transform: translateY(-10px);
}
